  body{
    font-family: 'Roboto', sans-serif;
  }
  .container {
    margin: 1rem auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(3, 3, 3, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  form input,form textarea{
    background-color: #fffff0;
    padding: 0.25rem;
    margin: 0.5rem;
    color: black;
    border: 0.5rem solid #fffff0;
    border-radius: 0.5rem;
  }

  
  input, textarea, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .snippet {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .snippet h3{
    font-size: 1.25rem;
    font-weight: 500;
  }
  .snippet h3, .snippet p{
    background-color: #fffff0;
    padding: 0.25rem;
    margin: 0.5rem;
    color: black;
    border: 0.5rem solid #fffff0;
    border-radius: 0.5rem;
  }

  .snippet p{
    font-size: 1rem;
    font-weight: 300;
  }
  .buttons{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1rem;
  }
  /* Add more CSS styling to customize your app's appearance */
  
